.env

# Python Cache ve Derlenmiş Dosyalar
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Sanal Ortam Klasörleri (Kullandığınız isme göre düzenleyin)
venv/
.venv/
*.basicAl/
# env/
# .env/ # DİKKAT: Bu, .env dosyası DEĞİL, .env adlı klasördür.

# İşletim Sistemi ve IDE Dosyaları
.DS_Store
Thumbs.db
*.vscode/
*.idea/


backtest/data/


implement/dotenv.py


implement/funcs_n.py




.ipynb_checkpoints

